# Copiar este archivo como .env y rellenar los valores

# Puerto donde arranca la API
PORT=3000

# Cadena de conexión a MongoDB (local o Atlas)
# Local:  mongodb://localhost:27017/pawcare
# Atlas:  mongodb+srv://usuario:contraseña@cluster.xxxxx.mongodb.net/pawcare
MONGO_URI=mongodb://localhost:27017/pawcare
